@font-face {
    font-family: myFont;
	font-weight: 300;
    src: url('../font/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2');
}
html,body {
	min-width: 860px;
    margin: 0;
    padding: 0;
	font-family: "myFont",microsoft yahei;
	font-size: 16px; 
    background-color: #55eaf3;
    color: #333;
}
p,h2,h3,h4,h5,ul,ol,li {
	margin: 0;
	padding: 0;
}
h5 {
	font-size: 16px;
	line-height: 16px;
	margin-left: 50px;
}
.shadow {
	box-shadow: 10px 10px 50px #777;
	background-color: #fff;
    width: 800px;
    margin: 50px auto;
}
header {
	position: relative;
	width: 800px;
	height: 200px;
	margin: auto;
	background-color: #fff;
}
.header-bg {
	height: 100px;
	background-color: #58b2dc;
}
.my-portrait {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 116px;
	width: 116px;
	border: 4px solid #fff;
	border-radius: 62px;
	margin: -58px 0 0 -58px;
}
#main {
	width: 800px;
	margin: auto;
	background-color: #fff;
	position: relative;
}
.content:nth-child(1) {
	height: 200px;
}
.content:nth-child(2) {
	height: 200px;
}
.content:nth-child(3) {
	height: 750px;
}
.content:nth-child(4) {
	height: 200px;
}
.content:nth-child(5) {
	height: 150px;
}
.content {
	display: flex;
	margin-left:50px;
	overflow: hidden;
}
.content-left {
	width: 108px;
	height: 32px;
	padding-left: 42px;
	margin: 10px 0 128px 50px;
}
.content-left h3 {
	height: 16px;
	line-height: 16px;
}
.content-left p {
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	padding-top: 4px;
}
.content-right {
	width: 500px;
	margin-top: 10px;
}
.content-right ul {
	list-style: none;
	float: left;
}
.content-right ul li,.content-right p, .content-right ol {
	margin-left: 50px;
	line-height: 28px;
}
.about-me {
	background: url("images/icon.png") no-repeat;
	background-position: 0 -128px;
}
.item {
	margin-bottom: 50px;
}
.skills {
	background: url("images/icon.png") no-repeat;
	background-position: 0 -96px;
}
.work{
	background: url("images/icon.png") no-repeat;
	background-position: 0 -32px;
}
.production {
	background: url("images/icon.png") no-repeat;
	background-position: 0 -192px;
}
.self-evaluation {
	background: url("images/icon.png") no-repeat;
	background-position: 0 -64px;
}
.about-me-list-odd {
	width: 150px;
	height: 16px;
	line-height: 16px;
	margin-bottom: 20px;
}
.about-me-list-even {
	width: 250px;
	height: 16px;
	line-height: 16px;
	margin-bottom: 20px;
}
.skills-list {
	width: 150px;
	height: 30px;
	padding-bottom: 10px;
}
.skills-list h4 {
	width: 150px;
	height: 16px;
	line-height: 16px;
	margin-bottom: 4px;
	font-weight: 400;
}
.exp-bg {
	width: 150px;
	height: 6px;
	border-radius: 3px;
	background-color: #55eaf3;
	margin-bottom: 4px;
}
.html {
	width: 90%;
}
.css {
	width: 85%;
}
.js {
	width: 75%;
}
.ps {
	width: 85%;
}
.ai {
	width: 75%;
}
.git {
	width: 65%;
}
.exp {
	height: 6px;
	border-radius: 3px 0 0 3px;
	background: #58b2dc;
}
.explain {
	width: 150px;
	font-size: 12px;
	display: none;
	font-family: "microsoft yahei";
}
.skills-list:hover {
	height: auto;
}
.skills-list:hover .explain {
	display: block;
}
.content-right p {
	width: 450px;
}
.node-line {
	position: relative;
	height: 2000px;
}
.clear {
	clear: both;
}
.line {
	width: 2px;
	height: 100%;
	background-color: #58b2dc;
}
.node {
	position: absolute;
	z-index: 1;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	margin-top: 10px;
	background-color: #58b2dc;
	border-radius: 10px;
	border: 4px solid #fff; 
}
.node-one {
	top: 42px;
	left: -9px;
}
.node-two {
	top: 242px;
	left: -9px;
}
.node-three {
	top: 442px;
	left: -9px;
}
.node-four {
	top: 1242px;
	left: -9px;
}
.node-five {
	top: 1442px;
	left: -9px;
}
footer {
	width: 800px;
	height: 300px;
	margin: 50px auto 100px auto;
	background-color: #fff;
}
#footer-border {
	width: 692px;
	height: 170px;
	border:4px solid #58b2dc;
	margin: auto;
}
footer h2 {
	height: 50px;
	font-size: 36px;
	text-align: center;
	line-height: 50px;
}
footer p {
	text-align: center;
	line-height: 16px;
	padding-bottom: 10px;
}
footer ul {
	list-style: none;
	width: 400px;
	margin: auto;
}
footer ul li {
	float: left;
	width: 160px;
	height: 32px;
	padding-left: 40px;
	line-height: 32px;
}
footer a {
	display: inline-block;
	width: 192px;
	height: 42px;
	text-decoration: none;
	color: #fff;
	border-radius: 16px;
}
footer a:hover {
	background-color: #55eaf3;
}
.phone {
	background: url("images/icon.png") no-repeat;
	background-position: 0 0;
}
.email {
	background: url("images/icon.png") no-repeat;
	background-position: 0 -160px;
}
#download-pdf {
	width: 192px;
	height: 42px;
	border-radius: 21px;
	border:4px solid #fff;
	background-color: #58b2dc;
	margin: auto;
	position: relative;
	top: 40px;
	text-align: center;
	line-height: 42px;
	clear: both;
	color: #fff;
}
